body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input {
  text-align: center;
  width: 30%
}

.banner2 {
  background-color: red;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.banner3 {
  text-align: center;
  width: 100%
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}